# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Credentials
.git-credentials